body{
  font-family:Arial;
  margin:0px;
  background-color:#c5d8f6 ;
  overflow-x: hidden;
}


/********************************************
* Toolbar sections
*/
.toolbar-container{
  display: flex;
  align-items: center;
  justify-content:space-between;
  justify-content: space-between;
  width: auto;
  height: 74px;
  background-color: #c5d8f6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


  .logo{
    font-size: 36px;
    font-weight: bold;
    padding-right: 8px;
  }

  /*****************************************
  * Hamburger button
  */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #838383;
    padding: 3px 8px;
    
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: #535353;
    margin: 3px 0;
    border-radius: 4px;
  }

  /*************************************************
  * Hamburger menu and dropdown for smaller devices
  */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    width: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.6s ease;
  }
  .hamburger-menu.show{
    height: 0px;
    width: 0%;
  }
  .hamburger-nav{
    display: inline;
    flex-direction: row;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }

  /***************************************
  * Show hamburger menu for small screens
  */
  @media screen and (max-width: 950px) {
    .hamburger {
      display: flex;
    }
    .hamburger-menu {
      flex-direction: column;
      background-color: #d7e3f6; 
      position: absolute;
      top: 84px;
      left: 0;
      border-bottom-left-radius:  10px;
      border-bottom-right-radius:  10px;
      width: 100%;
    }
    .hamburger-menu.show{
      height: 250px;
      width: 100%;
    }
    .toolbar-buttons{ /* part of next toolbar section*/
      display: none;
    }
  }



  /********************************************
  * Toolbar when hamburger menu is not showing
  */
  .toolbar-buttons{
    justify-content:space-between;
  }
  .toolbar-nav{
    display: inline;
    flex-direction: row;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }
  .toolbar-nav:active{
    color: #756fff;
  }









  


/*************************************************
* main body content 
*/
.content {
  padding-top: 80px;
  width: 100%;
}
  /*****************************
  * content sections 
  */
  .content-block{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  .content-block-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  .content-lines{
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .content-divider{
    border-radius: 2px;
    width: 92%;
    background-color: #b2b0b0;
    height: 2px;
    margin: 4 auto;
  }
  .about{
    background-color: #CEDDE9;
  }
  .education{
    background-color: #eee4e6;
  }
  .experience{
    background-color: #edebd7;
  }
  .images-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 0px 12px;
  }

  .images-tall{
    max-height: 600px;
    width: auto;
    border-radius: 8px;
  }

  .images-long{
    max-width: 400px;
    height: auto;
    border-radius: 8px;
  }

  @media screen and (max-width: 800px) {
    .content {
      padding-top: 30px;
    }
    .images-tall{
      max-width: 80vw;
    }

    .images-long{
      width: 80vw;
    }
  }

  .contact{
    background-color: #CEDDE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

  }
  .form-name-email{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .form-body{
    padding: 8px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .input-text{
    padding: 12px 8px;
    font-size: 16px;
    margin: 6px 0px;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
  }
  .input-email{
    margin: 6px 0px 6px 10px;
  }
  .input-name{
    margin: 6px 10px 6px 0px;
  }
  .send-button{
    height: 60px;
    width: 50%;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000000;
  }


  .projects{
    background-color: #e6f2ee;
    background-color: #e6f2ee;
  }

  @media screen and (max-width: 800px) {
    .content-block-section{
      flex-direction: column;
    }
  }



  /******
  * Sections for content formatting
  */

  .headline{
    font-size: 50px;
    font-weight: bold;
    word-wrap: break-word;
    color: #333;
  }
  .infoline{
    padding: 10px 0px;
    font-size: 28px;
    color: #555;
    word-wrap: break-word
  }
  .essayline{
    padding: 10px 0px;
    font-size: 24px;
    color: #555;
    word-wrap: break-word
  }

  @media screen and (max-width: 800px) {
    .headline{
      font-size: 36px;
    }
    .infoline{
      font-size: 24px;
    }
    .essayline{
      font-size: 20px;
    }
    .logo{
      font-size: 30px;
      font-weight: bold;
      padding-right: 8px;
    }

    .content-lines{
      padding-left: 0px;
      padding-right: 0px;
    }
  }

